* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffff;
  width: 100%;
}

/* Navbar start */
header {

}
nav {

}

.nav-left {

}

span {

}
a {

}
