* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffff;
  /* width: 100%; */
}

/* Navbar start */
header {
  background: #ffff;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
}
nav {
  display: inline;
  vertical-align: middle;
  padding: 0 50px;
}

.nav-left {
  padding-right: 750px;
}

span {
  display: inline;
  vertical-align: middle;
  font-size: 30px;
  padding: 0 20px;
}
a {
  display: inline;
  vertical-align: middle;
  padding: 0 20px;
  text-decoration: none;
  color: black;
}

/* Navbar end */

/* Footer  start*/
footer {
  background: #ffff;
  border-top: 1px solid #cccccc;
  text-align: center;
}

footer div {
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 30px;
  margin: 50px;
  vertical-align: middle;
  height: 100px;
  /* padding: 0 50px; */
}

footer h3 {
  /* vertical-align: middle; */
  /* padding: 0 20px; */
  /* max-width: 300px; */
}
footer div p {
  /* vertical-align: middle; */
  /* padding: 0 20px; */
  width: 300px;
}

footer div a {
  /* vertical-align: middle; */
  /* padding: 0 20px; */
  text-decoration: none;
  color: black;
}
